CompileFlags:
  Add:
    - "-Iinclude"
    - "-I/Library/Frameworks/mujoco.framework/Headers"
    - "-I/opt/homebrew/include"
    - "-F/Library/Frameworks"
    - "-std=c++20"
    - "-Wno-unknown-warning-option"

Diagnostics:
  Suppress:
    - "pp_file_not_found"
    - "drv_unknown_argument"
  UnusedIncludes: None
  MissingIncludes: None
